.playwright-cli/
.playwright/

# Dependencies
node_modules
/.pnp
.pnp.js

# TanStack / Vinxi / Nitro
.tanstack
.vinxi
.output
.nitro
dist
dist-ssr
/build
/out

# Environment Files
.env
.env.development
.env.production
.env*.local
*.local

# Testing & Debug
/coverage
npm-debug.log*
*.tsbuildinfo

# OS / Misc
.DS_Store
*.pem
